<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<array>
		<dict>
			<key>profileURL</key>
			<string>https://collector-axa.cloud.ca.com/api/1/urn:ca:tenantId:029DF253-B671-40F3-BAF0-D7AEB0A9E5FD/urn:ca:appId:Sugsh04_test/profile</string>
			<key>baseURL</key>
			<string>https://collector-axa.cloud.ca.com</string>
			<key>collectorUploadURL</key>
			<string>https://collector-axa.cloud.ca.com/api/1/urn:ca:tenantId:029DF253-B671-40F3-BAF0-D7AEB0A9E5FD/urn:ca:appId:Sugsh04_test/mobileMetrics</string>
			<key>appId</key>
			<string>Sugsh04_test</string>
			<key>tenantID</key>
			<string>029DF253-B671-40F3-BAF0-D7AEB0A9E5FD</string>
			<key>appKey</key>
			<string>5999ffe0-40c1-11e7-a817-db7e82f83bdb</string>
		</dict>
	</array>
</dict>
</plist>