<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spike.secret.template">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".DDApp"
        android:allowBackup="true"
        android:icon="@mipmap/dd_logo_sm"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.landing.LandingActivity" />
        <activity android:name=".ui.details.DetailsActivity" />
    </application>

</manifest>